In [1]:
import pandas as pd

In [2]:
data = pd.read_excel(r'C:\Users\Akash Sharma\Desktop\Book1.xlsx')

In [3]:
data.head()

     Ship Mode Sub-Category     Sales  Quantity  Discount     Profit
0  First Class     Machines  1799.994         2       0.7 -2639.9912
1  First Class      Binders  1525.188         6       0.8 -2287.7820
2  First Class       Tables  2314.116         7       0.4 -1002.7836
3  First Class     Machines   703.710         6       0.7  -938.2800
4  First Class     Machines   652.995         7       0.7  -935.9595

In [28]:
x=data[['Sales','Quantity','Discount','Profit']].values
print(x)

[[ 1.7999940e+03  2.0000000e+00  7.0000000e-01 -2.6399912e+03]
 [ 1.5251880e+03  6.0000000e+00  8.0000000e-01 -2.2877820e+03]
 [ 2.3141160e+03  7.0000000e+00  4.0000000e-01 -1.0027836e+03]
 ...
 [ 5.6700000e+00  3.0000000e+00  0.0000000e+00  1.1340000e-01]
 [ 2.5200000e+00  2.0000000e+00  0.0000000e+00  1.0080000e-01]
 [ 6.3600000e+00  2.0000000e+00  0.0000000e+00  6.3600000e-02]]

In [21]:
y=data.iloc[:,:-5].values
print(y)

[['First Class']
 ['First Class']
 ['First Class']
 ...
 ['Standard Class']
 ['Standard Class']
 ['Standard Class']]

In [5]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [34]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
scalar.fit(x_train)
x_train = scalar.transform(x_train)
x_test = scalar.transform(x_test)

In [38]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=89)
classifier.fit(x_train,y_train)

C:\Users\Akash Sharma\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=89)

In [39]:
y_pred = classifier.predict(x_test)

In [40]:
y_pred

array(['Standard Class', 'Standard Class', 'Standard Class', ...,
       'Standard Class', 'Standard Class', 'Standard Class'], dtype=object)

In [42]:
y_test

array([['Standard Class'],
       ['Second Class'],
       ['Second Class'],
       ...,
       ['Same Day'],
       ['Standard Class'],
       ['Standard Class']], dtype=object)

In [43]:
from sklearn.metrics  import confusion_matrix

In [44]:
confusion_matrix(y_test,y_pred)

array([[   0,    0,    0,  308],
       [   0,    0,    0,  108],
       [   0,    0,    0,  407],
       [   0,    0,    0, 1176]], dtype=int64)